* {
  box-sizing: border-box;
}

.app {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 992px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
}

.team-grid {
  margin: 0 auto;
  max-width: 359px;
  padding-top: 64px;
  text-align: center;
}

@media screen and (min-width: 1080px) {
  .app {
    margin-bottom: 44px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .team-grid {
    max-width: none;
  }
}

.join-button {
  padding: 1rem;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #343799;
  color: rgb(232, 228, 228);
}

.join-button:hover {
  background-color: #343799;
  color: rgb(232, 228, 228);
  transform: scale(1.15);
}

input {
  padding: 10px;
  margin: 2px;
  border: 1px solid rgb(155, 155, 155);
}

.submit {
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  margin-bottom: 10px;
}

.form {
  display: None;
}

.form-show {
  display: Block;
}

.story-input {
  height: 150px;
  /* padding: 5.5px; */
  margin-top: 3px;
  padding: 5px;
  border: 1px solid rgb(155, 155, 155);
}
